.verified-rectangle {
  width: 152px;
  height: 52px;
  margin: 15px 0 6px 80px;
  padding: 0 19px 0 0;
  border-radius: 28px;
  background-color: #0e3f8f;
  z-index: 2;
}

.stephen {
  width: 64px;
  height: 10px;
  margin: 5px 1px 0;
  font-family: Chaney Ultra Extended;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.7;
  letter-spacing: normal;
  color: #ffffff;
  z-index: 2;
}

.curry {
  width: 73px;
  height: 20px;
  margin: 5px 0 0;
  font-family: Chaney Ultra Extended;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.5;
  letter-spacing: normal;
  color: #ffffff;
  z-index: 2;
}

.verified-players {
  width: 108px;
  height: 18px;
  margin: 9px 0px 0px -35px;
  font-family: BlowBrush;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffcc3e;
  z-index: 2;
}
