.east-conf-container {
  align-self: flex-end;
}

.eastern-conference {
  width: 211px;
  height: 15px;
  margin: 16px 16px 25px 0;
  font-family: Chaney Extended;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  z-index: 5;
}

.e-icon {
  position: absolute;
  width: 57px;
  height: 56px;
  margin: 0 0 0 170px;
  object-fit: contain;
  transform: rotate(7deg);
  z-index: 5;
}
