.western-conference {
  width: 230px;
  height: 15px;
  margin: 25px 182px 24px 40px;
  font-family: Chaney Extended;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  z-index: 5;
}

.w-icon {
  position: absolute;
  width: 56px;
  height: 62px;
  margin: -2px 0 2px 27px;
  object-fit: contain;
  z-index: 5;
}
