.right-to-left {
  overflow: hidden;
  height: 56px;
  position: relative;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 56px;
    transform: translate(100%, 0);

    p {
      font-family: "Chaney", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
    }
    img {
      height: 56px;
    }
  }

  $duration: 30s;

  .rtl-wrapper__first-half,
  .rtl-wrapper__second-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: rtlticker $duration infinite linear forwards;
  }

  .rtl-wrapper__second-half {
    animation: $duration rtlticker $duration/2 infinite linear forwards;
  }
}

@keyframes rtlticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
