.topnav {
  overflow: hidden;
  font-family: "Chaney Extended";
  width: 820px;
  align-self: flex-end;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
  position: relative;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: "Chaney Extended";
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.116);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  box-shadow: inset 0px -2px 0 0 #ffbc00;
  border-bottom: 3px solid #ffbc00;
  color: white;
}

.topnav a.disabled {
  background: none;
  color: #00183f;
  pointer-events: none;
}

.topnav a > p {
  position: absolute;
  right: 10px;
  top: -8px;
  font-family: "BlowBrush";
  color: #ffbc00;
  z-index: 50;
  font-size: 15px;
}

.Rectangle-Copy-3 {
  width: 52px;
  height: 5px;
  margin: 7px 32px 0 0;
  background-color: #ffbc00;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 836px) {
  .topnav {
    overflow: hidden;
    font-family: "Chaney Extended";
    width: 100%;
    align-self: flex-end;
  }
  .topnav a {
    display: none;
  }
  .topnav button.icon {
    float: right;
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    background: none;
    border: none;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 836px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive button.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: white;
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.bg-announcement {
  height: 38px;
  font-family: Chaney;
  color: white;
  background-image: linear-gradient(
    91deg,
    #2f32ff,
    #d22929 42%,
    #fcbb03 73%,
    #fc5400 103%
  );
}

.scrolling-announcement {
  background-image: linear-gradient(
    91deg,
    #2f32ff,
    #d22929 42%,
    #fcbb03 73%,
    #fc5400 103%
  );
  overflow: hidden;
  height: 38px;
  position: relative;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 38px;
    transform: translate(100%, 0);

    p {
      font-family: "Chaney", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
    }
    img {
      height: 38px;
    }
  }

  $duration: 30s;

  .ticker-wrapper__first-half,
  .ticker-wrapper__second-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ticker $duration infinite linear forwards;
  }

  .ticker-wrapper__second-half {
    animation: $duration ticker $duration/2 infinite linear forwards;
  }
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
