.left-to-right {
  overflow: hidden;
  height: 56px;
  position: relative;
  margin-bottom: 25px;
  z-index: 25;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 56px;
    transform: translate(100%, 0);

    p {
      font-family: "Chaney", sans-serif;
      color: #ffffff;
      text-transform: uppercase;
    }
    img {
      height: 56px;
    }
  }

  $duration: 30s;

  .ltr-wrapper__first-half,
  .ltr-wrapper__second-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    animation: ltrticker $duration infinite linear forwards;
  }

  .ltr-wrapper__second-half {
    animation: $duration ltrticker $duration/2 infinite linear forwards;
  }
}

@keyframes ltrticker {
  0% {
    transform: translate(-100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}
