.Rectangle {
  width: 160px;
  height: 48px;
  margin: 0 6px 6px 80px;
  border-radius: 10px;
  border: solid 3px #000000;
  background-color: #ffcc3e;

  font-family: Chaney Ultra Extended;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.986);

  transform: translateY(-7px);
}

.Rectangle-Copy-39 {
  width: 160px;
  height: 48px;
  margin: 6px 0 0 6px;
  border-radius: 10px;
  border: solid 1px #000000;
  background-color: #000000;
}
