.sub-container {
  display: flex;
  height: fit-content;
  margin-right: 40px;
  position: relative;
  z-index: 25;
}

.sub-container img:first-child {
  max-width: 720px;
  min-width: 200px;
  width: 100%;
  height: 100%;
  max-height: 700px;
  min-height: 200px;
  z-index: 1;
}

.spray {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: contain;
  z-index: 0;
  margin-top: 220px;
  margin-left: 20px;
}

@media screen and (max-width: 1000px) {
  .spray {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    margin-top: 70px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .spray {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
    margin-top: 35px;
    margin-left: 0px;
  }
}

// .player-cards {
//   width: 720px;
//   height: 700px;
//   margin: 51px 40px 54px 24px;
//   object-fit: contain;
// }
