.footer-rectangle {
  width: 95%;
  padding: 0 70px 0 70px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 58px;
  background: url("../../assets/images/bg-3.png") bottom right no-repeat,
    linear-gradient(126deg, #d22929 9%, #9f293a 59%);
  background-position: bottom -15px right 0px;
  transform: rotate(-1deg);
  div {
    width: fit-content;
    height: fit-content;
    transform: rotate(1deg);
  }
}

.head-text {
  width: 160px;
  height: 18px;
  margin: 0 164px 10px 0;
  font-family: Chaney Ultra Extended;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffcc3e;
}

.middle-text {
  width: 370px;
  height: 70px;
  margin: 10px 0px 15px 0px;
  font-family: Chaney Ultra Extended;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.bottom-text {
  width: 320px;
  height: 54px;
  margin: 16px 0 0;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .footer-rectangle {
    width: 95%;
    padding: 0px 0px 0 0px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 58px;
    background: url("../../assets/images/bg-3.png") bottom right no-repeat,
      linear-gradient(126deg, #d22929 9%, #9f293a 59%);
    background-position: bottom -15px right 0px;
    transform: rotate(-1deg);
    div {
      width: fit-content;
      height: fit-content;
      transform: rotate(1deg);
    }
  }

  .head-text {
    width: 158px;
    height: 18px;
    margin: 60px 164px 10px 5px;
    font-family: Chaney Ultra Extended;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffcc3e;
  }

  .middle-text {
    width: 370px;
    height: 70px;
    margin: 10px 0px 15px 0px;
    font-family: Chaney Ultra Extended;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .bottom-text {
    width: 320px;
    height: 54px;
    margin: 16px 10px 0;
    font-family: IBMPlexSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}
