@font-face {
  font-family: "Chaney Extended";
  src: url("../fonts/Chaney Extended/Chaney-Extended-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chaney Extended";
  src: url("../fonts/Chaney Extended/Chaney-Extended-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Chaney Extended";
  src: url("../fonts/Chaney Extended/Chaney-Extended-Normal.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chaney Extended";
  src: url("../fonts/Chaney Extended/Chaney-Extended-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Chaney";
  src: url("../fonts/Chaney/Chaney-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chaney";
  src: url("../fonts/Chaney/Chaney-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Chaney";
  src: url("../fonts/Chaney/Chaney-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Chaney";
  src: url("../fonts/Chaney/Chaney-Normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chaney";
  src: url("../fonts/Chaney/Chaney-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Chaney Ultra Extended";
  src: url("../fonts/Chaney Ultra Extended/Chaney-Ultra-Extended.otf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chaney Wide";
  src: url("../fonts/Chaney Wide Normal/Chaney Wide Normal.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBM Plex Sans/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BlowBrush";
  src: url("../fonts/BlowBrush/BlowBrush.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
