.Own-The-Best-Rule-T {
  flex-grow: 1 1 0;
  max-width: 576px;
  width: 100%;
  height: 288px;
  margin: 80px 24px 30px 80px;
  font-family: Chaney Ultra Extended;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.4;
  letter-spacing: normal;
  color: #ffffff;
}

.Buy-sell-and-colle {
  max-width: 480px;
  width: 100%;
  height: 100px;
  margin: 40px 10px 40px 80px;
  font-family: IBMPlexSans;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media screen and (max-width: 1065px) {
  .Own-The-Best-Rule-T {
    max-width: 576px;
    width: 100%;
    height: 288px;
    margin: 80px 24px 20px 80px;
    font-family: Chaney Ultra Extended;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    color: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  .Own-The-Best-Rule-T {
    max-width: 576px;
    width: 100%;
    height: 288px;
    margin: 80px 24px 20px 80px;
    font-family: Chaney Ultra Extended;
    font-size: 33px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.7;
    letter-spacing: normal;
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .Own-The-Best-Rule-T {
    max-width: 576px;
    width: 100%;
    height: 150px;
    margin: 80px 24px 20px 0px;
    font-family: Chaney Ultra Extended;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
  }
}

@media screen and (max-width: 600px) {
  .Buy-sell-and-colle {
    max-width: 480px;
    width: 100%;
    height: 100px;
    margin: 40px 10px 60px 0px;
    font-family: IBMPlexSans;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
}

@media screen and (max-width: 300px) {
  .Own-The-Best-Rule-T {
    max-width: 576px;
    width: 100%;
    height: 150px;
    margin: 80px 24px 20px 0px;
    font-family: Chaney Ultra Extended;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
  }
}
