.bg {
  min-height: 1735px;
  height: auto;
  padding: 0 0 118.4px;
  background: linear-gradient(to bottom, #2055ab, #1691b4 98%);
  &__content {
    background: url("../../assets/images/bg-left-0.png") top left no-repeat,
      url("../../assets/images/bg-right-1.png") top right no-repeat;
  }
}

// .bg-0 {
//   position: absolute;
//   width: 483px;
//   height: 550px;
//   margin: 0 87px 32px 0;
//   padding: 70px 264px 444px 80px;
//   object-fit: contain;
//   transform: rotate(-26deg);
//   background-color: #0e3f8f;
// }

// @media screen and (max-width: 1500px) {
//   .bg {
//     height: 1735px;
//     padding: 0 0 118.4px;
//     background: linear-gradient(to bottom, #2055ab, #1691b4 98%);
//     &__content {
//       background: url("../../assets/images/bg-left-0.png") top left no-repeat,
//         url("../../assets/images/bg-right-1.png") top right no-repeat;
//     }
//   }
// }

// @media screen and (min-width: 1600px) {
//   .bg {
//     height: 1735px;
//     padding: 0 0 118.4px;
//     background: linear-gradient(to bottom, #2055ab, #1691b4 98%);
//     &__content {
//       background: url("../../assets/images/bg-left-0@2x.png") top left no-repeat,
//         url("../../assets/images/bg-right-1@2x.png") top right no-repeat;
//     }
//   }
// }

// @media screen and (min-width: 1700px) {
//   .bg {
//     height: 1735px;
//     padding: 0 0 118.4px;
//     background: linear-gradient(to bottom, #2055ab, #1691b4 98%);
//     &__content {
//       background: url("../../assets/images/bg-left-0@3x.png") top left no-repeat,
//         url("../../assets/images/bg-right-1@3x.png") top right no-repeat;
//     }
//   }
// }
